[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rouge-score = "*"
nltk = "*"
textstat = "*"
stop-words = "*"
markdown = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"